<p id="notice"><%= notice %></p>

<h1>Listing Students</h1>

<table>
  <thead>
    <tr>
      <th>Cwid</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Teacher</th>
      <th>Visits</th>
      <th>Created At</th>
      <th>Last Login</th>
      <th colspan="6"></th>
    </tr>
  </thead>

  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= student.CWID %></td>
        <td><%= student.first_name %></td>
        <td><%= student.last_name %></td>
        <td><%= student.teacher %></td>
        <td><%= student.count %></td>
        <td><%= student.created_at %></td>
        <td><%= student.updated_at %></td>
        <td><%= link_to 'Show', student %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= form_tag(students_profs_path, :method =>:post) do %>
  <%= label_tag(:id, "Enter CWID:") %>
  <%= text_field_tag(:id) %>
  <%= label_tag(:id, "Enter Password:") %>
  <%= password_field_tag :pass %>
  <%= submit_tag("Delete") %>
  <%= submit_tag("Delete All", data: { confirm: 'WARNING: THIS WILL DELETE ALL STUDENTS' }) %>
<% end %>


<%= link_to 'New Student', new_student_path %>
<%= link_to 'Back', root_path %>
