<h1>MathLab Profile</h1>

<p id="notice"><%= notice %></p>

<p>
  <strong>Cwid:</strong>
  <%= @student.CWID %>
</p>

<p>
  <strong>First name:</strong>
  <%= @student.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @student.last_name %>
</p>

<p>
  <strong>Teacher:</strong>
  <%= @student.teacher %>
</p>

<p>
  <strong>Visits:</strong>
  <%= @student.count %>
</p>

<p>
  <strong>Created On:</strong>
  <%= @student.created_at %>
</p>

<p>
  <strong>Last Logged In:</strong>
  <%= @student.updated_at %>
</p>

<form action="/" method="get">
    <tr><td><input type = "submit" value = "Back"></td></tr>
</form>

