<h1>Welcome to MathLabTracker!</h1>



	<%= form_tag(students_submit_path, :method =>:get) do %>
  <%= label_tag(:id, "Enter CWID:") %>
  <%= text_field_tag(:id) %>
  <%= submit_tag("Login") %>
  <%= submit_tag("Check Hours") %>
<% end %>

<%= form_tag(students_professor_path, :method =>:get) do %>
  <%= label_tag(:id, "Enter professor:") %>
  <%= text_field_tag(:p) %>
  <%= submit_tag("Search Professor Hours") %>
<% end %>


<form action="/students/" method="get">
    <tr><td><input type = "submit" value = "All Students"></td></tr>
</form>

<form action="/students/new" method="get">
    <tr><td><input type = "submit" value = "Create New Student"></td></tr>
</form>
